@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;

	&.nav-open {
		@apply overflow-hidden;
	}
}
h1,h2,h3,h4,h5,h5 {
	@apply font-['Oswald'] font-bold uppercase;
}
h1 {
	@apply !text-3xl lg:!text-4xl;
}
h2 {
	@apply !text-2xl lg:!text-3xl;
}
h3 {
	@apply !text-xl lg:!text-2xl;
}
h4 {
	@apply !text-lg lg:!text-xl;
}
h5 {
	@apply !text-base lg:!text-lg;
}
h6 {
	@apply !text-[17px];
}

.page-content-layout {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
        "header header header header header header header header header header header header"
		"content content content content content content content content content content content content"
		"footer footer footer footer footer footer footer footer footer footer footer footer";

	.page-layout__header {
		grid-area: header;

	}

	.page-layout__content {
		grid-area: content;

	}

	.page-layout__footer {
		grid-area: footer;
	}

    @media screen and (min-width: 1024px) {
		grid-template-columns: repeat(14, 1fr);
		grid-template-areas:
            "header header header header header header header header header header header header header header"
		    "footer content content content content content content content content content content content content content"
		    "footer content content content content content content content content content content content content content";
	}
}